{% extends 'base.html' %}
{% load static %}

{% block content %}
<form action="{% url 'cadastrar_solicitacao' %}" method="POST" style="width: 50%">
    {% csrf_token %}

    <div class="card p-4" style="width: 100%; max-width: 800px;">
        <h3 class="text-center mb-4">Cadastrar nova Solicitação</h3>
        
        <!-- Renderizar campos do formulário principal -->
        {% for field in form.visible_fields %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        
        <!-- Renderizar campos do Formset -->
        <h4 class="mt-4">Produtos</h4>
        {{ formset.management_form }}
        {% for produto_form in formset %}
            <div class="border p-3 mb-3">
                {% for field in produto_form.visible_fields %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
            <input type="submit">
        
        <!-- Botão para enviar o formulário -->
        <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
    </div>
</form>
{% endblock %}