{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Solicitações</title>
    

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css">
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    
    <!-- DataTables Buttons JS -->
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
    
    
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <style>
        body {
            overflow: auto; 
        }
        .table {
            border-collapse: separate;
            border-spacing: 0 10px; 
        }
        .table th {
            background-color: #f8f9fa;
        }
        .messages {
            z-index: 1030;
        }
    </style>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body class="bg-light">
   <!-- Header -->
    <header class="bg-primary text-white py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="{% url 'lista_solicitacoes' %}" class="text-white text-decoration-none h4">Sistema de Solicitações</a>
            <nav class="d-flex align-items-center">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link  text-white" href="{% url 'lista_solicitacoes' %}">Lista de Solicitações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'criar_solicitacao' %}">Nova Solicitação de Compras</a>
                    </li>
                    {% if user.role == 'admin' %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'cadastro' %}">Cadastrar Usuário</a>
                    </li>
                    {% endif %}
                </ul>
                <a class="btn btn-light ms-3" href="{% url 'logout' %}">Sair</a>
                <!-- <button class="btn btn-light ms-2">Perfil</button> -->
            </nav>
        </div>
    </header>

    <!-- Corpo da página -->
    <div class="container py-4 card mt-3">
        <div class="table-responsive">
            <div class="messages position-fixed top-0 start-50 translate-middle-x mt-3" style="z-index: 1050; width: 100%; max-width: 600px;">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-dark{% endif %} alert-dismissible fade show" role="alert">
                        <p class="mb-0">{{message}}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                {% endfor %}
    
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% for field in form %}
                            {% if field.errors %}
                                <strong>{{ field.label }}:</strong>
                                {% for error in field.errors %}
                                    {{ error }}<br>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
    
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            </div>
            <form method="get" class="form-group">
    
                <div class="d-flex align-items-center pb-5 gap-3 w-100">
                    <div class="flex-grow-1">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ form.data_inicio.label }}</label>
                        {{ form.data_inicio }}
                    </div>
                    <div class="flex-grow-1">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ form.data_fim.label }}</label>
                        {{ form.data_fim }}
                    </div>
                    {% if user.role == 'admin' %}
                        <div class="flex-grow-1">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ form.usuario.label }}</label>
                            {{ form.usuario }}
                        </div>
                    {% endif %}
                    <div class="d-flex align-items-end align-self-end" style="height: 100%;">
                        <button type="submit" class="btn btn-primary d-flex align-items-center" style="height: 100%; padding: 10px 20px;">
                            <i class="fa-solid fa-filter me-2"></i> Filtrar
                        </button>
                    </div>
                </div>
    
            </form>
            <div>
                <table id="solicitacoesTable" class="table table-bordered table-striped" data-toggle="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Solicitante</th>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Data de Necessidade</th>
                            <th>Observações</th>
                            <th>Emissão</th>
                            <!-- <th>Status</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for solicitacao in solicitacoes %}
                            {% for produto in solicitacao.produto_set.all %}
                                <tr>
                                    <td>{{ produto.c1_num }}</td>
                                    <td>{{ solicitacao.user.nome }}</td>
                                    <td>{{ produto.c1_descri }}</td>
                                    <td>{{ produto.c1_quant }}</td>
                                    <td>{{ produto.c1_datprf|date:"d/m/Y" }}</td>
                                    <td>{{ produto.c1_obs }}</td>
                                    <td>{{ solicitacao.c1_emissao|date:"d/m/Y" }}</td>
                                    <!-- <td>{{ solicitacao.status }}</td> -->
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            $(document).ready(function() {
                var table = $('#solicitacoesTable').DataTable({
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json'
                    },
                    dom: 'Bfrtip', // Adiciona os botões
                    
                    buttons: [
                        {
                            extend: 'csv',
                            text: '<i class="fas fa-file-csv btn btn-primary"></i>',
                            filename: 'Solicitacoes',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'excel',
                            text: '<i class="fas fa-file-excel btn btn-success"></i>',
                            filename: 'Solicitacoes',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'pdf',
                            text: '<i class="fas fa-file-pdf btn btn-danger"></i>',
                            filename: 'Solicitacoes',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'print',
                            text: '<i class="fas fa-print btn btn-secondary"></i>',
                            exportOptions: {
                                columns: ':visible'
                            }
                        }
                    ],
                    pageLength: 10,
                    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                    order: [[0, 'desc']],
                    
                });

                // Filtro por solicitante
                $('#solicitanteFilter').on('change', function() {
                    table.column(0).search(this.value).draw();
                });

                // Filtro por data de necessidade
                $('#inicioDataFilter').on('change', function() {
                    var formattedDate = this.value.split('-').reverse().join('/');
                    table.column(3).search(formattedDate).draw();
                });
                
                // Filtro por data de necessidade
                $('#fimDataFilter').on('change', function() {
                    var formattedDate = this.value.split('-').reverse().join('/');
                    table.column(5).search(formattedDate).draw();
                });

                
      
                const style = document.createElement('style');
                style.textContent = `
                    .dt-buttons .dt-button {
                        border: none !important;
                        border-radius: 0 !important;
                        display: inline-block !important;
                        background-image: none !important;
                        background-color: transparent !important;
                        box-shadow: none !important;
                        padding: 0 !important;
                    }
                    
                    .dt-buttons {
                        margin-bottom: 15px;
                        display: flex;
                        gap: 10px;
                    }

                    .dt-buttons .btn {
                        padding: 8px 15px;
                        margin: 0 5px;
                    }
                `;
                document.head.appendChild(style);

            });
        </script>
    </body>
</html>