<!DOCTYPE html>
<html>
   <head>
      
   </head>
   <body>
      {% block content %}
      <div class="container">
         <h2>Nova Solicitação de Compra</h2>
         <form method="post">
            {% csrf_token %}
            <div class="form-group">
                  <label for="{{ form.c1_filial.id_for_label }}">Filial:</label>
                  {{ form.c1_filial }}
            </div>
            <div class="form-group">
                  <label for="{{ form.b1_desc.id_for_label }}">Produto:</label>
                  {{ form.b1_desc }}
            </div>
            <div class="form-group">
                  <label for="{{ form.ctt_custo.id_for_label }}">Centro de Custo:</label>
                  {{ form.ctt_custo }}
            </div>
            <div class="form-group">
                  <label for="{{ form.c1_local.id_for_label }}">Armazém:</label>
                  {{ form.c1_local }}
            </div>
            <div class="form-group">
                  <label for="{{ form.c1_quant.id_for_label }}">Quantidade:</label>
                  {{ form.c1_quant }}
            </div>
            <div class="form-group">
                  <label for="{{ form.c1_emissao.id_for_label }}">Data de Emissão:</label>
                  {{ form.c1_emissao }}
            </div>
            <div class="form-group">
                  <label for="{{ form.c1_datprf.id_for_label }}">Data Prevista:</label>
                  {{ form.c1_datprf }}
            </div>
            <div class="form-group">
                  <label for="{{ form.c1_solicit.id_for_label }}">Solicitante:</label>
                  {{ form.c1_solicit }}
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
         </form>
      </div>
{% endblock %}
   </body>
</html>